html, body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 24px;
}

body {
    display: flex;
    gap: 24px;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    color: #444339
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 60px;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 22px;
    font-weight: 400;
}

p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

a {
    color: #403C90 !important;
}

address {
    font-style: normal;
    font-size: 13px;
}

hr {
    border: 0;
    margin: 10px 0;
    height: 2px;
    background: rgb(254,154,61);
    background: linear-gradient(90deg, rgba(254,154,61,1) 0%, rgba(116,39,71,1) 33%, rgba(56,118,29,1) 66%, rgba(11,83,148,1) 100%);
    clear: bottom;
    width: 220px;
    overflow: auto;
}

hr::after {
    content: "";
    clear: both;
    display: table;
}